.background {
        background-color:#27255C;
        min-height: 100%;
              
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
              
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
}


.card {
        margin: 10vh; /* Added */
        margin-left: 35vw;
        margin-right:35vw;
        margin-top:5vh;
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        height: 90vh;
        width: 30vw;
        font-family: 'Inter';
        border-radius: 40%;
        align-content: center;
}

.card-title {
       color: #27255C;
        text-align: center;
       font-size: x-large;
}

.card-img-top {
        max-height: 100%;
        max-width: 100%;
}

.btn-primary {
        background-color: #27255C;
        border-color: #27255C;
        margin-top: 15px;
}
.btn-secondary {
        background-color: #F6F8FD;
        border-color: #9CA6CE;
        color: #27255C;
        margin-top: 8px;
}

.resendEmail {
        margin-right:20px;
        float: right;
        margin-top: 5px;
        background-color: white;
        color: #9CA6CE;
        font-size: 13px;
        border: none;
}


.redirectToLogin {
        margin-top: 18px;
        text-align: center;
        color: #27255C;
        font-size: 18px;
}