
<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode >
    <div id="decades-filter" class="esri-widget">
        <div class="decade-item visible-decade" data-decade="1950s">1950s</div>
        <div class="decade-item visible-decade" data-decade="1960s">1960s</div>
        <div class="decade-item visible-decade" data-decade="1970s">1970s</div>
        <div class="decade-item visible-decade" data-decade="1980s">1980s</div>
        <div class="decade-item visible-decade" data-decade="1990s">1990s</div>
        <div class="decade-item visible-decade" data-decade="2000s">2000s</div>
        <div class="decade-item visible-decade" data-decade="2010s">2010s</div>
        <div class="decade-item visible-decade" data-decade="2020s">2020s</div>
    </div>
    <div id="viewDiv"></div>
    <div id="titleDiv" class="esri-widget">
        <div id="titleText">ISI Xplorer</div>
        <div>Stadium explorer (2024)</div>
</div>
