
<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode >
    <div id="cuisines-filter" class="esri-widget">
        <div class="cuisine-item visible-cuisine" data-cuisine="Italian">Italian</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="American">American</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Asian">Asian</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Fast Food">Fast Food</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Seafood">Seafood</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Steakhouse">Steakhouse</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Mexican">Mexican</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Vegetarian">Vegetarian</div>
        <div class="cuisine-item visible-cuisine" data-cuisine="Vegan">Vegan</div>
    </div>
    <div id="viewDiv"></div>
    <div id="titleDiv" class="esri-widget">
        <div id="titleText">ISI To Eat</div>
        <div>New York City Advisor (2023)</div>
       <!-- <div id="clock"></div> -->
</div>
