<div class="container-fluid background m-0 p-0 text-center vh-100">
    <div class="vh-100 background-cover">
        <div style="width: 100%;" class="align-items-center d-flex justify-content-center">
            <img src="../../../../assets/StadiumExplorerLOGO-noBg.png" class="logo my-5"/>       
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
            <span class="landingPageTitle">Made for the fans, by the fans</span>
            <span class="landingPageDesc">Experience the history of football excellence</span>
            <a class="button m-5 px-3 py-2" href="/sign-in">Get started</a>
        </div>
        <div>
        </div>
    </div>
</div>