<div class="background">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Find a tour </h5>
          <div style="width:100%; text-align:center">
            <img class="card-img-top" src="../../../../assets/tour.svg">
         </div>
          <p class="card-text"> If you don't want to discover New York City by yourself, get yourself a guide that can show you the most popular attractions or the hidden gems. Even if you want to discover the city by day or by night, there is no way you won't find a tour that suits your passions. </p>
          <a href="#" class="btn btn-primary" href="https://www.tripadvisor.com/Attractions-g60763-Activities-c42-New_York_City_New_York.html"> FIND A TOUR </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Restaurant map </h5>
          <div style="width:100%; text-align:center">
            <img class="card-img-top" src="../../../../assets/map.svg">
         </div>
          <p class="card-text"> If you want to quickly find a place to eat, don't spend too much time looking for the perfect one. Go to our map, select your favorite cuisine and find a restaurant that suits your desire. Check the rating and the reviews and enjoy your meal. </p>
          <a href="#" class="btn btn-primary" href="/map">SEE RESTAURANTS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Tourist attractions </h5>
          <div style="width:100%; text-align:center">
            <img class="card-img-top" src="../../../../assets/tourist.svg">
         </div>
          <p class="card-text"> One of the greatest cities in the world, New York is always a whirlwind of activity, with famous sites at every turn and never enough time to see them all.Many of the best places to visit are within walking distance of each other, or just a short ride away, making this city a delight for sightseeing. </p>
          <a href="#" class="btn btn-primary" href="https://tourscanner.com/blog/best-tourist-attractions-in-new-york-city/">SEE THE TOURISTS ATTRACTIONS</a>

        </div>
      </div>
    </div>
  </div> 
</div>