<div class="background">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center"> Find a tour </h5>
          <div style="width:100%; text-align:center" class="d-flex align-items-center">
            <img class="card-img-top" src="../../../../assets/tours.png">
         </div>
          <p class="card-text"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, ad fuga blanditiis magni consectetur fugiat repellendus, asperiores nemo iusto veritatis laborum deleniti inventore, rem amet nihil nam eum vitae accusamus? </p>
          <a href="#" class="btn btn-primary" href="https://www.roadtrips.com/soccer-packages/champions-league-final/"> FIND A TOUR </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center" > Stadium map </h5>
          <div style="width:100%; text-align:center" class="d-flex align-items-center">
            <img class="card-img-top" src="../../../../assets/map.png">
         </div>
          <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque pariatur veniam, nisi sunt voluptas ut, fugit nulla magnam minima fugiat voluptatum distinctio explicabo debitis libero, dolores hic odit consectetur eos.</p>
          <a href="#" class="btn btn-primary" href="/map">SEE STADIUMS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center"> History of the finals </h5>
          <div style="width:100%; text-align:center" class="d-flex align-items-center">
            <img class="card-img-top" src="../../../../assets/history.png">
         </div>
          <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum neque doloribus dolore aperiam reiciendis natus reprehenderit totam amet, delectus commodi labore asperiores ducimus error esse atque aut sapiente, voluptas cumque! </p>
          <a href="#" class="btn btn-primary" href="https://www.uefa.com/uefachampionsleague/history/winners/finals/">LEARN MORE ABOUT THE FINALS</a>

        </div>
      </div>
    </div>
  </div> 
</div>