.background {
        background-image: url(../../../../assets/nyc.jpg);
}

.half-left {
        float: left; 
        width: 50vw;
        height: 100vh;
        background-color: #050324;
        opacity: 0.8;
}