<div class="background">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center"> Find a tour </h5>
          <div style="width:100%; text-align:center" class="d-flex align-items-center">
            <img class="card-img-top" src="../../../../assets/tours.png">
         </div>
          <p class="card-text"> Too much of a hassle to plan your own trip? Get yourself a guided tour through the UCL Finals' cities and experience the thrill of football firsthand.  </p>
          <a href="#" class="btn btn-primary" href="https://www.roadtrips.com/soccer-packages/champions-league-final/"> FIND A TOUR </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center" > Stadium map </h5>
          <div style="width:100%; text-align:center" class="d-flex align-items-center">
            <img class="card-img-top" src="../../../../assets/map.png">
         </div>
          <p class="card-text"> If you want to plan an awesome trip visiting some of football's greatest arenas, or you just want to learn more about your favourite matches, look no further than our map. Filled with all of the UCL finals' stadiums, check the stats of each match, find the perfect route and enjoy your trip</p>
          <a href="#" class="btn btn-primary" href="/map">SEE STADIUMS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align:center"> History of the finals </h5>
          <div style="width:100%; text-align:center" class="d-flex align-items-center">
            <img class="card-img-top" src="../../../../assets/history.png">
         </div>
          <p class="card-text"> Delve into the heart of UEFA's premier football tournament, the UEFA Champions League. Whether you're a devoted fan seeking stats, memorable matches, or the latest updates, don't hesitate to visit this page dedicated to the exhilarating world of the UEFA Champions League.</p>
          <a href="#" class="btn btn-primary" href="https://www.uefa.com/uefachampionsleague/history/winners/finals/">LEARN MORE ABOUT THE FINALS</a>

        </div>
      </div>
    </div>
  </div> 
</div>