.background {
        background-color:#27255C;
        min-height: 100%;
              
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
              
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
}


.card {
        margin: 10vh; /* Added */
        margin-left: 35vw;
        margin-right:35vw;
        margin-top:5vh;
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        height: 90vh;
        width: 30vw;
        font-family: 'Inter';
        border-radius: 40%;
        align-content: center;
}

.card-title {
       color: #27255C;
       margin-left: 30px;
       font-size: xx-large;
       margin-top:-20px;
       text-align: center;
}

.card-img-top {
        margin-top:10px;
        max-height: 90%;
        max-width: 90%;
        float: center;
        margin-top:-25px;
        margin-left:auto;
        margin-right:auto;
}

.btn-primary {
        background-color: #27255C;
        border-color: #27255C;
}
.btn-secondary {
        background-color: #F6F8FD;
        border-color: #9CA6CE;
        color: #27255C;
        margin-top: 8px;
}

.resetPassword {
        margin-top: 5px;
        color: #9CA6CE;
        font-size: 13px;
        text-align: right;
}

.redirectToLogin {
        margin-top: 18px;
        text-align: center;
        color: #27255C;
        font-size: 18px;
}