<div class="background">
<div class="card mx-auto shadow p-3 mb-5 bg-white rounded-1">
  <div class="card-body">
    <h2 class="card-title align-self-center">LOG IN</h2>
    <div style="width:100%; text-align:center">
      <img class="card-img-top" src="../../../../assets/log-in.png">
   </div>
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="authBlock">
            <div class="formGroup">
              <input id="mail" type="text" title="E-Mail" placeholder="Mail" class="formControl" #userName required style="width:100%">
                <div class="formGroup">
                <br>
                <input type="password" class="formControl" placeholder="Password" #userPassword required style="width:100%">
              </div>
              <div class="forgotPassword">
                <a href="/forgot-password">Forgot Password?</a>
              </div>

            <!-- Calling SignIn Api from AuthService -->
              <input type="button" class="btn btn-block btn-primary my-3" value="LOG IN" (click)="authService.SignIn(userName.value, userPassword.value)" style="width:100%">
  
              
            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
              <button type="button" class="btn btn-block btn-secondary" (click)="authService.GoogleAuth()" style="width:100%">
                <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Log in using Google
              </button>
            </div>
            

          </div>
          <div class="redirectToLogin">
            <span>Don't have an account?<a class="redirect" href="/register-user"> Sign Up </a></span>
          </div>
        </div>
      </div>
  </div>
</div>